body{
	font-family: Segoe UI, sans-serif;
	background-color: black;
}

.warn{
	color: red;
	font-weight: bold;
	border: 2px solid red;
	background-color: #fcc;
}

.hidden{
	display: none;
}

.btn-primary{
	border-radius: 0px;
	border-style: none;
	width: 140px;
	font-size: 16px;
}

.btn-info{
	border-radius: 0px;
	border-style: none;
}

.form-control{
	font-size: 16px;
	height: 40px;
}

label{
	font-size: 15px;
}

hr{
	border: solid 1px black;
}

h1{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

p{
	font-weight: bold;
	font-size: 16px;
}